header{
    width: 1440px;
    size: 26px;
    font-family: 'Lora', serif;
    color:  #FFFFFF;
    background-image: url("images/img_header.jpg")
}

a{
    color:  #FFFFFF
}

.button{
    width: 167px;
    height: 44px;
    background-color: #DD783F
}

.list{
    width: 1440px;
    height: 65px
}

.list_item{
    color: #768088;
    width: 139px;
    height: 46px;
    border-radius: 3px
}

h2{
    font-family: 'Oxygen', sans-serif
}
.line{
    width:188px;
    height: 1px;
    background-color: #DEDEDE;
    margin: 10px 0px;
}

.featured_posts{
    display: flex;
    width: 960px;
    height: 294px;
}

.post1{
    background-image: url("images/The_road_ahead.png")
}

.post2{
    background-image: url("images/From_Top_Down.png")
}

.title{
    font-family: 'Lora', serif;
    font-size: 27px;
    color: #FFFFFF;
}

.description{
    font-family: 'Oxygen', sans-serif;
    size: 14px;
    color: #FFFFFFB2;
}

.author{
    font-family: 'Oxygen', sans-serif;
    size: 12px;
    color: #FFFFFFB2;
}

.most_recent{
    width: 940px;   
    height: 752px;
}

.title_recent{
    color:  #101315;
    size: 16px;
    font-family: 'Lora', serif;
}

.description_recent{
    color: #7A7A7A;
    font-family: 'Oxygen', sans-serif;
    size: 13px;
}

.author_recent{
    font-family: 'Oxygen', sans-serif;
    size: 12px;
    color: #999999;
}

footer{
    background-image: url("images/footer.png");
    width: 1440px;
}